@model OQC.Web.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit";
}
<div class="col-md-12 col-xs-12 col-lg-12 col-md-12">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Confirm")"><i class="glyphicon glyphicon-home"></i></a></li>
        <li>
            <a href="@Url.Action("Index")">Users</a>
        </li>
        <li class="active">
            Edit @Html.DisplayFor(model => model.Email)
        </li>
    </ol>
</div>
<div class="col-lg-12">
    <h2>Edit.</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit User Form.</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="input-group max-width-280">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "true" })
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-envelope"></i>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <hr />
            <div class="form-group">
                @Html.Label("This User belongs to the following Groups", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @foreach (var item in Model.GroupsList)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="selectedGroups" value="@item.Value" checked="@item.Selected" />
                                @item.Text
                            </label>
                        </div>
                    }
                </div>
            </div>
            <hr />
            <div class="form-group">
                @Html.Label("This User belongs to the following Departments", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="row">
                        @foreach (var item in Model.DepartmentList)
                        {
                            <div class="col-xs-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="selectedDepartments" value="@item.Value" checked="@item.Selected" />
                                        @item.Text
                                    </label>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-saved"></i>Save
                    </button>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@section Scripts {
    @Html.Partial("_ValidationPartial")
}
