@model System.Collections.Generic.IEnumerable<MeetingRoom.Web.Models.Laptop>

@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.laptop_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.laptop_name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.projector_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.owner_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creator_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status_id)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.id)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.laptop_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.laptop_name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.projector_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room.label)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.owner_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status_id)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
    </tr>
}

</table>
